.tabs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid black;
}
.tab {
  border: 2px solid black;
  margin-right: 10px;
  padding: 5px 10px;
  border-bottom: 1px solid transparent;
}
.tab:focus, .tab:hover {
  outline-offset: -2px;
  outline-color: blue;
}
.tab[aria-selected="true"] {
  border-bottom:2px solid blue;
}
